name: Azure
on: workflow_dispatch

jobs:
  build:

    runs-on: windows-latest
    timeout-minutes: 9999999

    steps:

    - name: Download do ngrok
      run: |
        Invoke-WebRequest https://raw.githubusercontent.com/OneCloudService/MicrosoftAzureRDP/main/ngrok.zip -OutFile ngrok.zip
        Invoke-WebRequest https://raw.githubusercontent.com/OneCloudService/MicrosoftAzureRDP/main/start.bat -OutFile start.bat
        Invoke-WebRequest https://raw.githubusercontent.com/OneCloudService/MicrosoftAzureRDP/main/winrar.exe -OutFile winrar.exe
        Invoke-WebRequest https://raw.githubusercontent.com/OneCloudService/MicrosoftAzureRDP/main/wallpaper.jpeg -OutFile wallpaper.jpeg
    - name: Extraindo ngrok Arquivos
      run: Expand-Archive ngrok.zip

    - name: Connectando Conta ngrok 
      run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}

    - name: Acesso Ao RDP
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
        copy winrar.exe C:\Users\Public\Desktop\winrar.exe
        copy wallpaper.jpeg C:\Users\Public\Pictures\wallpaper.jpeg
        
    - name: Create Tunnel
      run: Start-Process Powershell -ArgumentList '-Noexit -Command ".\ngrok\ngrok.exe tcp 22 --region=sa 3389"'

    - name: Connect to RDP  [CPU 2 Core - 7GB Ram - 256 SSD]
      run: cmd /c start.bat

    - name: Install Winrar
      run: cmd /c C:\Users\Public\Desktop\winrar.exe winrar.exe /s
    
    - name: 6 Horas Tempo
      run: |
        Invoke-WebRequest https://raw.githubusercontent.com/OneCloudService/MicrosoftAzureRDP/main/loop.ps1 -OutFile loop.ps1
        ./loop.ps1
